#new-tweet {
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 0.7rem;
  display: none;
}
#new-tweet h2 {
  margin: 0;
}
#new-tweet h2::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #244751;
  height: 0.05rem;
  margin-bottom: 1.2rem;
}
#new-tweet form {
  margin: 0 auto;
  width: 100%;
}
#new-tweet textarea {
  width: 100%;
  padding: 0.3rem;
  background-color: white !important;
  /* for chrome bug */
}
#new-tweet #dummy {
  margin: 0;
  margin-top: 0.3rem;
  visibility: hidden;
}
#new-tweet #error {
  color: red;
  margin: 0;
  margin-left: 0.7rem;
  margin-top: 0.3rem;
  display: none;
}
#new-tweet #counter {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
#new-tweet #counter.error {
  color: red;
}

@media only screen and (max-width: 450px) {
  #new-tweet {
    margin: 1rem;
  }
}
