article.tweet {
  border: solid 1px #ddd;
  border-radius: 0.4rem;
  margin: 2rem;
  opacity: 0.8;
}
article.tweet * {
  font-weight: 300;
}
article.tweet header {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  background-color: #eee;
  color: #244751;
  padding: 0.5rem;
  height: 4.2rem;
  display: flex;
  justify-content: space-around;
}
article.tweet header .img-container {
  min-height: 3.2rem;
  min-width: 3.2rem;
  overflow: hidden;
  border-radius: 0.4rem;
}
article.tweet header img {
  width: 100%;
  background-size: cover;
}
article.tweet header h2 {
  float: left;
  margin: 0 0.6rem 0;
  font-weight: 700;
}
article.tweet header h4 {
  float: right;
  margin: 0;
  margin-top: 0.5rem;
  color: #888;
}
article.tweet .comment {
  padding: 0.7rem;
  vertical-align: middle;
  overflow-wrap: break-word;
}
article.tweet footer {
  border-top: 1px solid #ddd;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
article.tweet footer h5 {
  margin: 0;
}
article.tweet footer #icons i {
  margin-left: 0.5rem;
  opacity: 0;
}

article.tweet:hover {
  opacity: 1;
  border-color: #333;
}
article.tweet:hover #icons i {
  opacity: 0.8;
}
article.tweet:hover #icons i:hover {
  opacity: 1;
}

@media only screen and (max-width: 450px) {
  article.tweet {
    margin: 1rem;
  }
}
@media only screen and (max-width: 230px) {
  article.tweet header h4 {
    display: block;
    font-size: 0.5rem;
    padding-left: 0.6rem;
    margin-top: 0.3rem;
  }
  article.tweet header #names {
    flex-direction: column;
  }
  article.tweet footer i .def {
    color: #07b091;
  }
  article.tweet footer i .flag-on {
    color: #bad319;
    background-color: black;
  }
  article.tweet footer i .heart-on {
    color: palevioletred;
  }
}
