#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  top: 0px;
  position: fixed;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2rem;
  line-height: 80px;
  float: left;
  margin-left: 10px;
}

article.tweet header{
  color: #e8fdff;
  height: 2rem;
  border-bottom: 1px solid black
}

article.tweet footer{
  height: 1rem;
  border-top: 1px solid black
}