.new-tweet {
  background-color: #eee;
  border: solid 1px #ddd;
  border-radius: 0.4rem;
  margin: 2rem;
  padding: 0.7rem;
}

.new-tweet h2 {
  margin: 0;
}

.new-tweet h2::after {

  content: "";
  display: block;
  width: 100%;
  background-color: #244751;
  height: 0.05rem;
  margin-bottom: 1.2rem;

}

.new-tweet form {
  margin: 0 auto;
}

.new-tweet textarea {
  width: 100%;
  padding: 0.3rem;
  background-color: white;   /* for chrome bug */
}

.counter {
  float: right;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.counter.error {
  color: red;
}

article.tweet{
  border: solid 1px #ddd;
  border-radius: 0.4rem;
  margin: 2rem;
  opacity: 0.8;
}

article.tweet:hover{
  opacity: 1;
  border-color: #333;
}

article.tweet * {
  font-weight: 300;
}

article.tweet header{
  /* overflow: hidden; */
  /* position: relative; */
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  background-color: #eee;
  height: 4.2rem;
  color: #244751;
  padding: 0.7rem;
}

article.tweet header .img-container{
  height: 100%;
  /* position: absolute; */
  width: 3rem;
  float: left;
  overflow: hidden;
  border-radius: 0.4rem;

}

article.tweet header img{
  width: 110% ;
  /* background-position: center; */
}

article.tweet header h2{
  float: left;
  margin:0 0.6rem 0;
  font-weight: 700;
}

.comment {
  padding: 0.7rem;
  vertical-align: middle;
  
}

article.tweet header h4{
  float: right;
  margin: 0;
  color: #aaa;
}

article.tweet footer{
  border-top: 1px solid #ddd;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}

article.tweet footer h5{
  margin: 0;
}

#icons i{
  margin-left: 0.5rem;
  color: rgb(55, 120, 84);
}

.show{
  margin-left: 0.5rem;
  color: rgb(55, 120, 84);
}